body {
    width: 20rem;
    height: 12rem;
    overflow: scroll;

    background: black;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Space Grotesk", sans-serif;
}

button {
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0;

    background: #333;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}